$body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !default

$primary-color: #917c6f !default
$secondary-color: #e0e0e0 !default
$alert-color: #f04124 !default
$success-color: #43AC6A !default
$warning-color: #d4aa00 !default
$info-color: #f9f9f9 !default

$global-radius: 5px

$topbar-bg: scale-color($primary-color, $lightness: -28%)
$topbar-bg-active-hover: scale-color($primary-color, $lightness: -14%)

@import 'normalize'
@import 'foundation/components/grid'
@import 'foundation/components/type'
@import 'foundation/components/top-bar'

pre
  margin-bottom: 1em

footer
  border-top: 1px dotted $topbar-bg

.page-header
  h1
    font-size: 2.65rem

.page-footer
  border-top: 2px solid $topbar-bg
  padding: 0.5em
  font-size: 0.75em
  text-align: $opposite-direction

.wrapper
  max-width: 764px
  margin: 0 auto

.content
  padding: 0.75em

.featured-image
  padding: 1em

  img
    border-radius: $global-radius
