<meta property="og:title" content="$title$" />
<meta property="og:url" content="http://wifiabierto.org$url$" />
$if(description)$
<meta property="og:description" content="$description$" />
$else$
<meta property="og:description" content="Redes inalámbricas abiertas para la comunidad" />
$endif$
$if(og_type)$
<meta property="og:type" content="$og_type$" />
$else$
<meta property="og:type" content="website" />
$endif$
$if(featured_image)$
<meta property="og:image" content="http://wifiabierto.org$featured_image$" />
$else$
<meta property="og:image" content="http://wifiabierto.org/images/logo.png" />
$endif$
<meta property="og:locale" content="es_LA">
