<section class="small-12 columns article-content">
  $body$
</section>
<footer class="small-12 columns article-info">
  <p>Publicado el: $date$</p>
  $if(author)$
  <p>Por: $author$</p>
  $endif$
  $if(license)$
  <p><small>$license$</small></p>
  $else$
  <p><small><a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike International License</a></small></p>
  $endif$
</footer>
