$if(featured_image)$
<meta property="twitter:card" content="summary_large_image" />
$else$
<meta property="twitter:card" content="summary" />
$endif$
<meta property="twitter:site" content="@WifiAbierto" />
$if(author_twitter)$
<meta property="twitter:creator" content="@$author_twitter$" />
$endif$
